.detailsLi {
  display: flex;
  align-items: center;
  width: auto;
  height: 20px;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: var(--elements-background-color);
  gap: 8px;
}

.detailsLabel {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--main-black-color);
}

.detailsLabel::first-letter {
  text-transform: uppercase;
}

.detailsSVG {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}
