.firstLineWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.header2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.firstLineInnerWrapper {
  display: flex;
  align-items: center;
}

.favoriteIcon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: transparent;
  stroke: var(--main-black-color);
  cursor: pointer;
}

.favoriteIconActive {
  fill: var(--main-accent-color);
  stroke: transparent;
  cursor: pointer;
}

.secondLineWrapper {
  display: flex;
  align-items: center;
}
.starIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.locationIcon {
  width: 16px;
  height: 16px;
  margin-left: 16px;
  margin-right: 4px;
}
