.firstLineWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.header2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.firstLineInnerWrapper {
  display: flex;
  align-items: center;
}

.secondLineWrapper {
  display: flex;
  align-items: center;
}
.starIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.locationIcon {
  width: 16px;
  height: 16px;
  margin-left: 16px;
  margin-right: 4px;
}
