.catalogLayoutWrapper {
  display: flex;
  gap: 64px;
  padding: 0 64px 100px 64px;
  column-gap: 10px;
}

.catalogLayout {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 100%;
}

.catalogLayoutButtonsWrapper {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
}

.catalogLayoutButton {
  width: 173px;
  height: 56px;
  display: inline-flex;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background-color: var(--main-accent-color);
  border-color: transparent;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.0003125em;
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-default);
}

.catalogLayoutButton:hover {
  background-color: var(--main-accent-dark-color);
}
