.vehicleEquipmentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 61px;
  padding: 17px 40px;
  border-radius: 10px;
  border: 1px solid var(--elements-accent-rgba);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.vehicleEquipmentDiv:hover {
  border-color: var(--main-accent-color);
}

.vehicleEquipmentLabel::first-letter {
  text-transform: uppercase;
}

.vehicleEquipmentSVG {
  width: 32px;
  height: 32px;
}

.vehicleTypeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 61px;
  padding: 17px 40px;
  border-radius: 10px;
  border: 1px solid var(--elements-accent-rgba);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.vehicleTypeDiv:hover {
  border-color: var(--main-accent-color);
}

.vehicleTypeLabel {
  text-align: center;
}
.vehicleTypeLabel::first-letter {
  text-transform: uppercase;
}

.vehicleTypeSVG {
  width: 32px;
  height: 32px;
}

.checkedInput {
  border-color: var(--main-accent-color);
}
