.inputWrapper {
  position: relative;
}

.inputSVG {
  position: absolute;
  width: 18px;
  height: 20px;
  top: 27%;
  left: 7%;
}

.locationInpute {
  width: 298px;
  height: 20px;
  border-radius: 10px;
  background: var(--scnd-elements-background-color);
  padding: 18px 18px 18px 44px;
  border-color: transparent;
  margin-top: 8px;
  margin-bottom: 32px;
}

.locationInpute::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--text-accent-rdba);
}

.locationInpute::placeholder:focus {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--main-black-color);
}
