@import url('./css/calendar/calendar.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  --main-black-color: #101828;
  --main-accent-color: #e44848;
  --main-accent-dark-color: #d84343;
  --accent-frst-color: #475467;
  --accent-scnd-color: #ffc531;
  --elements-background-color: #f2f4f7;
  --scnd-elements-background-color: #f7f7f7;
  --elements-accent-rgba: rgba(16, 24, 40, 0.2);
  --scnd-elements-accent-rgba: rgba(16, 24, 40, 0.1);
  --text-accent-rgba: rgba(16, 24, 40, 0.6);
  --background-overlay-rgba: rgba(17, 18, 19, 0.4);
  --white-color: #fff;

  --transition-default: cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  display: flex;
  width: 1440px;
  justify-content: center;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
